@charset "UTF-8";
.pdx-housing-companies .pdx-housing-company {
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin-bottom: 50px;
      grid-template-areas: "images images images info info";
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.pdx-housing-companies .pdx-housing-company .housing-company-images {
  overflow: hidden;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: images;
}

.pdx-housing-companies .pdx-housing-company .housing-company-images .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pdx-housing-companies .pdx-housing-company .housing-company-images .housing-company-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.pdx-housing-companies .pdx-housing-company .housing-company-images .housing-company-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: initial;
}

.pdx-housing-companies .pdx-housing-company .housing-company-info {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: info;
  padding-left: 1.5em;
}

.pdx-housing-companies .pdx-housing-company .housing-company-info h2 {
  margin-top: 0;
  font-size: 1.8em;
}

.pdx-housing-companies .pdx-housing-company .housing-company-info h3 {
  margin: 0;
  font-size: 1.3em;
}

.pdx-housing-companies .pdx-housing-company .housing-company-info ul {
  margin-left: 0;
  margin-bottom: 1em;
  padding-left: 0;
  list-style: none;
}

.pdx-housing-companies .pdx-housing-company .housing-contact {
  margin: 1.5em 0 0 0;
}

.pdx-housing-companies .pdx-housing-company .housing-contact p {
  margin: 0;
}

@media (max-width: 1024px) {
  .pdx-housing-companies .pdx-housing-company {
    display: -ms-grid;
    display: grid;
    margin-bottom: 35px;
        grid-template-areas: "images info";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .pdx-housing-companies .pdx-housing-company .housing-company-images {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: images;
  }
  .pdx-housing-companies .pdx-housing-company .housing-company-images .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pdx-housing-companies .pdx-housing-company .housing-company-info {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: info;
    padding-left: 1em;
  }
  .pdx-housing-companies .pdx-housing-company .housing-company-info h2 {
    font-size: 1.6em;
  }
  .pdx-housing-companies .pdx-housing-company .housing-company-info h3 {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .pdx-housing-companies .pdx-housing-company {
    display: block;
  }
  .pdx-housing-companies .pdx-housing-company .housing-company-images {
    margin-bottom: 1em;
  }
}

.pdx-houses {
  gap: 10px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin-bottom: 50px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.pdx-houses .pdx-house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fcfcfc;
  border: 1px solid gainsboro;
}

.pdx-houses .pdx-house:focus-within {
  border: 1px solid var(--darkorange);
}

.pdx-houses .pdx-house .house-image {
  height: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 66%;
  border-radius: 4px 4px 0 0;
  background-color: #e6e6e6;
  border-bottom: 1px solid gainsboro;
}

.pdx-houses .pdx-house .house-image a:after {
  left: 10px;
  bottom: 10px;
  content: '🔎︎';
  line-height: 1;
  font-size: 1.8em;
  position: absolute;
  color: white;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.pdx-houses .pdx-house .house-image a:hover img, .pdx-houses .pdx-house .house-image a:focus img {
  opacity: 0.5;
}

.pdx-houses .pdx-house .house-image a:not(:first-of-type) {
  display: none;
}

.pdx-houses .pdx-house .house-image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.pdx-houses .pdx-house .house-text {
  padding: 1em;
}

.pdx-houses .pdx-house .house-text h3 {
  margin-top: 0;
  font-size: 1.3em;
}

.pdx-houses .pdx-house .house-text ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 1em;
}

.pdx-houses .pdx-house .house-text ul li {
  font-size: 1em;
  margin-left: 0;
}

.pdx-houses .pdx-house .house-text ul:last-child {
  margin-bottom: 0;
}

.pdx-houses .pdx-house .house-text p {
  font-size: 1em;
  margin: 1em 0;
}

@media (max-width: 1024px) {
  .pdx-houses {
    gap: 10px;
    margin-bottom: 35px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .pdx-houses .pdx-house .house-text {
    padding: 1em;
  }
  .pdx-houses .pdx-house .house-text h3 {
    font-size: 1.3em;
  }
  .pdx-houses .pdx-house .house-text li {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .pdx-houses {
    display: block;
  }
  .pdx-houses .pdx-house {
    margin-bottom: 10px;
  }
}

.houses-extra {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.houses-extra-section {
  width: 50%;
}

.houses-extra-section:not(:first-of-type) {
  padding-left: 1.5em;
}

.houses-extra h2 {
  width: 100%;
  font-size: 1.8em;
}

.houses-extra h3 {
  margin: 0;
  font-size: 1.3em;
}

.houses-extra ul {
  margin: 0.5em 0 1em 0;
  padding-left: 1.2em;
}

.houses-extra li {
  font-size: 1em;
}

.houses-extra p {
  margin-top: 0.25em;
}

.houses-extra p:last-child,
.houses-extra ul:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Slider styles
--------------------------------------------------------------*/
.inner-control.disabled {
  display: none;
}

.inner-control .owl-prev,
.inner-control .owl-next {
  top: 0;
  z-index: 10;
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.housing-company-images .inner-control .owl-prev {
  left: 0;
}

.housing-company-images .inner-control .owl-next {
  right: 0;
}

.owl-carousel:focus-within .inner-control .owl-prev {
  left: 0;
}

.owl-carousel:focus-within .inner-control .owl-next {
  right: 0;
}

.owl-carousel .inner-control .owl-prev:focus-within,
.owl-carousel .inner-control .owl-next:focus-within {
  opacity: 1;
}

.owl-carousel .inner-control .prev-arrow:focus:not(:hover),
.owl-carousel .inner-control .next-arrow:focus:not(:hover) {
  outline-offset: 3px;
  outline: 3px solid var(--link);
  background-color: rgba(255, 255, 255, 0);
}

.prev-arrow,
.next-arrow {
  border: 0;
  outline: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
  pointer-events: auto;
  border: 0 !important;
}

.prev-arrow,
.prev-arrow:hover,
.prev-arrow:focus {
  background: url(../img/prev-arrow.svg) no-repeat center center !important;
}

.next-arrow,
.next-arrow:hover,
.next-arrow:focus {
  background: url(../img/next-arrow.svg) no-repeat center center !important;
}
/*# sourceMappingURL=kouta-pdx-public.css.map */