.pdx-housing-companies {
	.pdx-housing-company {
		width: 100%;
		display: grid;
		margin-bottom: 50px;
		grid-template-areas: "images images images info info";
		grid-template-columns: repeat(5, 1fr);

		.housing-company-images {
			overflow: hidden;
			grid-area: images;

			.owl-stage {
				display: flex;
			}

			.housing-company-image {
				width: 100%;
			  	height: 100%;
				position: relative;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				  	max-width: initial;
				}
			}
		}

		.housing-company-info {
			grid-area: info;
			padding-left: 1.5em;

			h2 {
				margin-top: 0;
				font-size: 1.8em;
			}

			h3 {
				margin: 0;
				font-size: 1.3em;
			}

			ul {
				margin-left: 0;
				margin-bottom: 1em;
				padding-left: 0;
				list-style: none;
			}
		}

		.housing-contact {
			margin: 1.5em 0 0 0;

			p {
				margin: 0;
			}
		}

		@media ( max-width:1024px ) {
			display: grid;
			margin-bottom: 35px;
			grid-template-areas:
				"images info";
			grid-template-columns: repeat(2, 1fr);

			.housing-company-images {
				grid-area: images;

				.owl-stage {
					display: flex;
				}
			}

			.housing-company-info {
				grid-area: info;
				padding-left: 1em;

				h2 {
					font-size: 1.6em;
				}

				h3 {
					font-size: 1.2em;
				}
			}

		}

		@media ( max-width:768px ) {
			display: block;

			.housing-company-images {
				margin-bottom: 1em;
			}
		}

	}

}

.pdx-houses {
	gap: 10px;
	width: 100%;
	display: grid;
	margin-bottom: 50px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	.pdx-house {
		display: flex;
		border-radius: 4px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		background-color: rgb(252, 252, 252);
		border: 1px solid rgb(220, 220, 220);

		&:focus-within {
			border: 1px solid var(--darkorange);
		}

		.house-image {
			height: 0;
			width: 100%;
			overflow: hidden;
			position: relative;
			padding-bottom: 66%;
			border-radius: 4px 4px 0 0;
			background-color: rgb(230, 230, 230);
			border-bottom: 1px solid rgb(220, 220, 220);

			a {
				&:after {
					left: 10px;
					bottom: 10px;
					content: '🔎︎';
					line-height: 1;
					font-size: 1.8em;
					position: absolute;
					color: rgb(255, 255, 255);
					filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
				}

				&:hover,
				&:focus {
					img {
						opacity: 0.5;
					}
				}

				&:not(:first-of-type) {
					display: none;
				}
			}

			img {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
			}
		}

		.house-text {
			padding: 1em;

			h3 {
				margin-top: 0;
				font-size: 1.3em;
			}

			ul {
				margin-left: 0;
				padding-left: 0;
				list-style: none;
				margin-bottom: 1em;

				li {
					font-size: 1em;
					margin-left: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			p {
				font-size: 1em;
				margin: 1em 0;
			}
		}
	}

	@media ( max-width:1024px ) {
		gap: 10px;
		margin-bottom: 35px;
		grid-template-columns: repeat(3, 1fr);

		.pdx-house {
			.house-text {
				padding: 1em;

				h3 {
					font-size: 1.3em;
				}

				li {
					font-size: 1em;
				}
			}
		}
	}

	@media ( max-width:768px ) {
		display: block;

		.pdx-house {
			margin-bottom: 10px;
		}
	}
}

.houses-extra {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.houses-extra-section {
	width: 50%;
}

.houses-extra-section:not(:first-of-type) {
	padding-left: 1.5em;
}

.houses-extra h2 {
	width: 100%;
	font-size: 1.8em;
}

.houses-extra h3 {
	margin: 0;
	font-size: 1.3em;
}

.houses-extra ul {
	margin: 0.5em 0 1em 0;
	padding-left: 1.2em;
}

.houses-extra li {
	font-size: 1em;
}

.houses-extra p {
	margin-top: 0.25em;
}

.houses-extra p:last-child,
.houses-extra ul:last-child {
	margin-bottom: 0
}


/*--------------------------------------------------------------
# Slider styles
--------------------------------------------------------------*/
.inner-control.disabled {
	display: none;
}

.inner-control .owl-prev,
.inner-control .owl-next {
	top: 0;
	z-index: 10;
	width: 50px;
	height: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	pointer-events: none;
	flex-direction: column;
	justify-content: center;
}

.housing-company-images .inner-control .owl-prev {
	left: 0;
}

.housing-company-images .inner-control .owl-next {
	right: 0;
}

.owl-carousel:focus-within .inner-control .owl-prev {
	left: 0;
}

.owl-carousel:focus-within .inner-control .owl-next {
	right: 0;
}

.owl-carousel .inner-control .owl-prev:focus-within,
.owl-carousel .inner-control .owl-next:focus-within {
	opacity: 1;
}

.owl-carousel .inner-control .prev-arrow:focus:not(:hover),
.owl-carousel .inner-control .next-arrow:focus:not(:hover) {
	outline-offset: 3px;
	outline: 3px solid var(--link);
	background-color: rgba(255, 255, 255, 0);
}

.prev-arrow,
.next-arrow {
	border: 0;
	outline: 0;
	width: 35px;
	height: 35px;
	cursor: pointer;
	pointer-events: auto;
	border: 0 !important;
}

.prev-arrow,
.prev-arrow:hover,
.prev-arrow:focus {
	background: url(../img/prev-arrow.svg) no-repeat center center !important;
}

.next-arrow,
.next-arrow:hover,
.next-arrow:focus {
	background: url(../img/next-arrow.svg) no-repeat center center !important;
}
